/** {
  outline: 1px dotted orange
}*/
body {
  background: #E6EBE0;
  font-family: 'Fjalla One', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px
}
th, td {
  text-align: center;
  border: 1px solid black;
  padding: 8px 15px 8px 15px;
  font-family: 'Fjalla One', sans-serif;
}
tr:first-child {
  background: #A4C2A5;
}
tr:hover {
  background-color: #F6E7CB;
}
form {
  font-family: 'Fjalla One', sans-serif;
  font-size: 14px;
}
fieldset {
  border: 1px solid black;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
label {
  font-size: 14px;
  margin-left: 20px;
  padding-right: 5px;
}
.sales {
  width: 30%;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
legend {
  font-size: 18px;
}
button {
  font-size: 14px;
  background-color: #EFEFEF;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 25px;
}
button:hover {
  background-color: #A4C2A5;
}
input {
  width: 100px;
  font-size: 14px;
}
header {
  font-family: font-family: 'Fjalla One', sans-serif;
  height: 150px;
  background: #A4C2A5;
}
main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.headerimage {
  height: 70%;
}
.headertitle {
  height: 150px;
  display: inline-block;
  position: absolute;
  margin-left: 150px;
  margin-top: 50px;
}
.about {
  /*outline: solid black;*/
  width: 960px;
  height: 300px;
}
.aboutimage {
  width: 426px;
  height: 240px;
  float: left;
  margin-left: 20px;
}
.aboutcontent {
  width: 350px;
  float: right;
  margin-right: 130px;
}
.abouttitle {
  width: 100px;
  margin-top: 70px;
  margin-left: 600px;
}
.merch {

}
.swag {
  width: 175px;
  height: 175px;
  float: left;
  padding: 10px;
}
figcaption {
  text-align: center;
}
